:root {
  --color-primary: 35 83% 54%;
  --color-text: 207 10% 82%;
  --color-bg: 206 11% 12%;
  --color-bg-dark: 200 12% 10%;
  --color-bg-light: 210 11% 15%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: hsl(var(--color-bg));
  font-family: 'Nunito', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
textarea,
button {
  font: inherit;
}
