.container {
  max-width: 30rem;
  margin-inline: auto;
  margin-top: 3.8rem;
}

.sortButtons {
  display: flex;
  justify-content: space-between;
}

.noUserMessage {
  composes: container;
  font-size: 1.5rem;
}

.message {
  composes: container;
  text-align: center;
  font-size: 1.5rem;
}

.list {
  margin-top: 3.2rem;
  display: grid;
  gap: 1.6rem;
}
