.genreContainer {
  display: flex;
  overflow-x: scroll;
  max-width: 29rem;
  margin-inline: auto;
  gap: 1.9rem;
}

.genre {
  text-align: center;
  font-size: 1.2rem;
  text-transform: lowercase;
  line-height: 1.2;
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 5.5rem;
  font-size: 2.6rem;
  height: 5.5rem;
  width: 5.5rem;
  border: var(--border-regular);
  border-radius: var(--radius);
  box-shadow: var(--shadow-3px);
  margin-bottom: 0.5rem;
  overflow-wrap: break-word;
}

:global(.selectedGenre) {
  background-color: hsl(var(--color-bg-light));
}
:global(.selectedGenre + span) {
  color: hsl(var(--color-primary));
  font-weight: 600;
}
