.movieCard {
  display: grid;
}

@media (min-width: 37.5em) {
  .movieCard {
    width: 27.5rem;
  }
}

.movieCard a {
  text-decoration: none;
  grid-row: 1/2;
  grid-column: 1/-1;
}

@media (min-width: 37.5em) {
  .movieCard a > img:first-of-type {
    width: 87rem;
  }
}

.img {
  width: 30rem;
  border: var(--border-regular);
  border-radius: var(--radius);
  box-shadow: var(--shadow-6px);
}

@media (min-width: 37.5em) {
  .img {
    width: 27.5rem;
    height: 20rem;
    object-fit: cover;
  }
}

.title {
  margin-top: 1.2rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2;
  color: hsl(var(--color-text));
}

@media (min-width: 37.5em) {
  .title {
    font-size: 2rem;
  }
}

.button {
  margin-right: 1.6rem;
  margin-top: 1.6rem;
  grid-row: 1/2;
  grid-column: 1/-1;
  justify-self: end;
  border: var(--border-thin);
  border-radius: 50%;
  box-shadow: var(--shadow-2px);
  background: transparent;
  background-color: hsl(var(--color-bg-dark) / 0.6);
  width: 3.2rem;
  height: 3.2rem;
  font-size: 2rem;
  font-weight: 800;
  color: hsl(var(--color-primary));
  z-index: 10;
  position: relative;
}

.button::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 50%;
  width: 3.1rem;
  height: 3.1rem;
  background-color: transparent;
  box-shadow: var(--shadow-2px);
}

@media (min-width: 37.5em) {
  .button {
    width: 4rem;
    height: 4rem;
  }

  .button::before {
    width: 3.9rem;
    height: 3.9rem;
  }
}
