.movieCard {
  display: grid;
}

@media (min-width: 37.5em) {
  .movieCard {
    width: 27.5rem;
  }
}

.movieCard a {
  text-decoration: none;
  grid-row: 1/2;
  grid-column: 1/-1;
}

.img {
  width: 30rem;
  height: 16.8rem;
  border: var(--border-regular);
  border-radius: var(--radius);
  box-shadow: var(--shadow-6px);
  transition: object-position 2s ease;
}

@media (min-width: 37.5em) {
  .img {
    width: 27.5rem;
    height: 20rem;
    object-fit: cover;
    border: var(--border-bold);
  }
}

@media (min-width: 56.25em) {
  .img:hover {
    object-position: right;
  }
}

.imgSkeleton {
  width: 30rem;
  height: 16.8rem;
  border: var(--border-regular);
  border-radius: var(--radius);
  box-shadow: var(--shadow-6px);
  animation: loadingSkeleton 0.8s linear infinite alternate;
}

@media (min-width: 37.5em) {
  .imgSkeleton {
    width: 27.5rem;
    height: 20rem;
    object-fit: cover;
    border: var(--border-bold);
  }
}

@keyframes loadingSkeleton {
  from {
    background-color: hsl(var(--color-bg));
  }
  to {
    background-color: hsl(var(--color-bg-dark));
  }
}

.title {
  margin-top: 1.2rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2;
  color: hsl(var(--color-text));
}

@media (min-width: 37.5em) {
  .title {
    font-size: 2rem;
  }
}

.button {
  margin-right: 1.6rem;
  margin-top: 1.6rem;
  grid-row: 1/2;
  grid-column: 1/-1;
  justify-self: end;
  border: var(--border-thin);
  border-radius: 50%;
  box-shadow: var(--shadow-2px);
  background: transparent;
  background-color: hsl(var(--color-bg-dark) / 0.6);
  width: 4.8rem;
  height: 4.8rem;
  font-size: 2.8rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(var(--color-primary));
  z-index: 4;
  position: relative;
  transition: background 0.2s, color 0.2s;
}

.button::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  background-color: transparent;
  box-shadow: var(--shadow-2px);
}

@media (min-width: 37.5em) {
  .button {
    width: 4rem;
    height: 4rem;
    font-size: 3.2rem;
    cursor: pointer;
  }
  .button > svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .button:hover {
    background-color: hsl(var(--color-primary) / 0.6);
    color: hsl(var(--color-bg-dark));
  }

  .button::before {
    width: 3.9rem;
    height: 3.9rem;
  }
}
