.backButton {
  position: absolute;
  top: 4rem;
  left: 2.8rem;
  border: none;
  background: none;
  color: hsl(var(--color-text));
}

.movieDetails {
  display: grid;
  gap: 2.4rem;
}

@media (min-width: 37.5em) {
  .movieDetails {
    max-width: 87rem;
    margin-inline: auto;
    margin-top: 6.8rem;
    grid-template-columns: 34.2rem 1fr;
    grid-template-rows: repeat(6, max-content);
    column-gap: 5.2rem;
  }
}

.movieDetails > img {
  width: 100%;
  height: 29.8rem;
  object-fit: cover;
  object-position: top;
}

@media (min-width: 37.5em) {
  .movieDetails > img {
    width: 34.2rem;
    height: 51.3rem;
    grid-column: 1;
    grid-row: 1/7;
    border: var(--border-bold);
    border-radius: var(--radius);
    box-shadow: var(--shadow-8px);
  }

  .movieDetails > :not(img) {
    grid-column: 2;
  }
}

.movieDetails > h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-left: 1.6rem;
}

@media (min-width: 37.5em) {
  .movieDetails > h1 {
    align-self: center;
    margin-left: 0;
    font-size: 3.2rem;
  }
}

.genres {
  display: flex;
  gap: 1rem;
  margin-left: 1.6rem;
}
@media (min-width: 37.5em) {
  .genres {
    margin-left: 0;
  }
}

.detailsContainer {
  margin-inline: 1.6rem;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

@media (min-width: 37.5em) {
  .detailsContainer {
    justify-content: flex-start;
    gap: 1.8rem;
  }
}

.castAndCrew {
  margin-left: 1.6rem;
}
@media (min-width: 37.5em) {
  .castAndCrew {
    margin-left: 0;
  }
}

.castAndCrew div {
  display: flex;
  font-size: 1.2rem;
  gap: 0.5rem;
}

@media (min-width: 37.5em) {
  .castAndCrew div {
    font-size: 1.4rem;
  }
}

.castAndCrew div:first-of-type {
  margin-bottom: 0.5rem;
}
.castAndCrew div > h5 {
  font-size: 1.2rem;
}

@media (min-width: 37.5em) {
  .castAndCrew div > h5 {
    font-size: 1.4rem;
  }
}

@media (min-width: 37.5em) {
  .detailsContainer {
    margin-inline: 0;
  }
}

.detailsContainer > a {
  text-decoration: none;
  color: hsl(var(--color-text));
}

.detailsContainer > button {
  border: var(--border-thin);
  border-radius: var(--radius);
  box-shadow: var(--shadow-4px);
  background-color: transparent;
  color: hsl(var(--color-text));
  height: 4rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 37.5em) {
  .detailsContainer > button {
    height: 5rem;
    cursor: pointer;
    transition: background 0.2s;
  }
  .detailsContainer > button:hover {
    background-color: hsl(var(--color-bg-light));
  }
}

.detailsContainer > button > div {
  font-size: 1.6rem;
  font-weight: 800;
  color: hsl(var(--color-primary));
}

@media (min-width: 37.5em) {
  .detailsContainer > button > div {
    font-size: 2rem;
  }
}
.detailsContainer > button > span {
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: capitalize;
}

@media (min-width: 37.5em) {
  .detailsContainer > button > span {
    font-size: 1rem;
  }
}

.overview {
  font-size: 1.5rem;
  margin-inline: 1.6rem;
}

@media (min-width: 37.5em) {
  .overview {
    margin-inline: 0;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.deleteBtn {
  margin-top: 2.4rem;
  justify-self: end;
  margin-right: 1.6rem;
}

@media (min-width: 37.5em) {
  .deleteBtn {
    justify-self: start;
  }
}
