.searchAndFilterContainer {
  position: relative;
  overflow-x: clip;
  margin-top: 4.8rem;
}
@media (min-width: 37.5em) {
  .searchAndFilterContainer {
    max-width: 87rem;
    margin-inline: auto;
    padding-inline: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 50em) {
  .searchAndFilterContainer {
    flex-direction: row;
    align-items: flex-start;
  }
}
