.detail {
  border: var(--border-thin);
  border-radius: var(--radius);
  box-shadow: var(--shadow-4px);
  height: 4rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 37.5em) {
  .detail {
    height: 5rem;
  }
}

.detail > div {
  font-size: 1.6rem;
}
@media (min-width: 37.5em) {
  .detail > div {
    font-size: 2rem;
  }
}

.detail > p {
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: capitalize;
}

@media (min-width: 37.5em) {
  .detail > p {
    font-size: 1rem;
  }
}

.icon {
  color: hsl(var(--color-text));
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
@media (min-width: 37.5em) {
  .icon {
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
  }
}

.icon.watched {
  color: hsl(var(--color-primary));
}
