.movieCard {
  border: var(--border-regular);
  border-radius: var(--radius);
  background-color: hsl(var(--color-bg-light));
  box-shadow: var(--shadow-6px);
  width: 100%;
}

.titleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 7rem;
}

@media (min-width: 37.5em) {
  .titleContainer {
    height: 5rem;
    display: flex;
    align-items: center;
  }
}

.titleContainer > h1 {
  font-size: 1.6rem;
  max-width: 28rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-row: 1;
  grid-column: 1/-1;
  justify-self: center;
  align-self: end;
  margin-bottom: 0.4rem;
}

@media (min-width: 37.5em) {
  .titleContainer > h1 {
    margin-right: auto;
    margin-left: 2.4rem;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0;
    max-width: 44rem;
    align-self: center;
    line-height: 1;
  }
}

.ratingAndWatchedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  grid-column: 1/-1;
  grid-row: 2/3;
  justify-self: center;
  align-self: end;
  margin-bottom: 0.2rem;
  position: relative;
}

@media (min-width: 37.5em) {
  .ratingAndWatchedContainer {
    margin-bottom: 0;
    align-self: center;
    margin-right: 2.4rem;
  }
}

.expandButton {
  border: none;
  background: none;
  color: hsl(var(--color-text));
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: end;
  align-self: center;
  margin-right: 1rem;
  margin-top: 0.5rem;
  transition: transform 0.2s;
}

.expandButton > svg {
  transition: transform 0.2s;
}

.expandButton.rotate > svg {
  transform: rotate(180deg);
}

@media (min-width: 37.5em) {
  .expandButton {
    margin-right: 2.3rem;
    margin-top: 0;
    align-self: center;
    display: flex;
    cursor: pointer;
  }
  .expandButton > svg {
    height: 2rem;
    width: 2rem;
  }
}
