.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

@media (min-width: 37.5em) {
  .label {
    font-size: 1rem;
    cursor: pointer;
  }
  .label > svg {
    height: 2.4rem;
    width: 2.4rem;
  }
}

.checks {
  color: hsl(var(--color-text));
  margin-bottom: -0.2rem;
}

.checks.watched {
  color: hsl(var(--color-primary));
}
