.nav {
  position: absolute;
  background-color: hsl(var(--color-bg-light));
  border-radius: var(--radius);
  border: var(--border-regular);
  box-shadow: var(--shadow-5px);
  top: 4rem;
  right: 0.5rem;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* fixes disappearing menu on safari mobile */
  -webkit-transform: translate3d(0, 0, 0);
  animation: slide-in 0.4s ease;
}

@media (min-width: 37.5em) {
  .nav {
    position: relative;
    border: none;
    box-shadow: none;
    background-color: inherit;
    top: 0;
    animation: none;
  }
}

.nav ul {
  margin-block: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (min-width: 37.5em) {
  .nav ul {
    flex-direction: row;
    margin-block: 0;
    gap: 4.8rem;
  }
}

.link {
  text-decoration: none;
  color: hsl(var(--color-text));
  font-size: 2.2rem;
  font-weight: 600;
}

@media (min-width: 37.5em) {
  .link {
    font-size: 2rem;
    font-weight: 800;
    color: hsl(var(--color-text) / 0.7);
    transition: color 0.2s;
  }

  .link:hover {
    color: hsl(var(--color-text));
  }
}

:global(.active) {
  color: hsl(var(--color-text));
}

.myMovies {
  display: flex;
  align-items: center;
}
.numberOfMovies {
  display: inline-block;
  margin-left: 1rem;
  background-color: hsl(var(--color-bg-light));
  border: var(--border-thin);
  box-shadow: var(--shadow-3px);
  font-size: 1.4rem;
  font-weight: 800;
  color: hsl(var(--color-primary));
  text-align: center;
  width: 3.2rem;
  height: 2.2rem;
  border-radius: 40%;
}
@media (min-width: 37.5em) {
  .numberOfMovies {
    font-size: 1.2rem;
  }
}

.logOut {
  border: none;
  background: none;
  font-size: 2.2rem;
  font-weight: 600;
  color: hsl(var(--color-text));
}

@media (min-width: 37.5em) {
  .logOut {
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
    color: hsl(var(--color-text) / 0.7);
    transition: color 0.2s;
  }
  .logOut:hover {
    color: hsl(var(--color-text));
  }
}

:global(.slideOut) {
  animation: slide-out 0.45s ease;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(130%);
  }
}
