.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  max-width: 300px;
  margin-top: 2.5rem;
  position: relative;
  overflow-x: clip;
}

.menu {
  border: none;
  background: none;
  color: hsl(var(--color-text));
  display: flex;
}

.overlay {
  position: absolute;
  top: 4rem;
  height: 100vh;
  width: 100vw;
}
