.pagination {
  position: fixed;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 4rem;
  background-color: hsl(var(--color-bg));
  height: 3.2rem;
  width: 30rem;
  border-radius: var(--radius);
  border: var(--border-bold);
  z-index: 1000;
}

.mobileButton {
  border: none;
  background: none;
  color: hsl(var(--color-text));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

@media (min-width: 37.5em) {
  .pagination {
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    border: none;
    gap: 2rem;
  }
}
