:root {
  --color-primary: 35 83% 54%;
  --color-text: 207 10% 82%;
  --color-bg: 206 11% 12%;
  --color-bg-dark: 200 12% 10%;
  --color-bg-light: 210 11% 15%;

  --border-thin: 1px solid hsl(var(--color-bg-dark));
  --border-regular: 1.5px solid hsl(var(--color-bg-dark));
  --border-bold: 2px solid hsl(var(--color-bg-dark));
  --shadow-2px: 2px 2px 0 0 hsl(var(--color-bg-dark));
  --shadow-3px: 3px 3px 0 0 hsl(var(--color-bg-dark));
  --shadow-4px: 4px 4px 0 0 hsl(var(--color-bg-dark));
  --shadow-5px: 5px 5px 0 0 hsl(var(--color-bg-dark));
  --shadow-6px: 6px 6px 0 0 hsl(var(--color-bg-dark));
  --shadow-8px: 8px 8px 0 0 hsl(var(--color-bg-dark));
  --radius: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: hsl(var(--color-bg));
  color: hsl(var(--color-text));
  font-family: 'Nunito', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

@media (min-width: 50em) {
  body {
    background: url('../assets/blob-right.svg'), url('../assets/blob-left.svg');
    background-color: hsl(var(--color-bg));
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 32%;
  }
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
textarea,
button {
  font: inherit;
}
