.navButton {
  background: none;
  color: hsl(var(--color-text));
  border: var(--border-regular);
  border-radius: var(--radius);
  box-shadow: var(--shadow-3px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
  transition: background 0.2s;
}

.navButton:hover {
  background-color: hsl(var(--color-bg-light));
}
